<div *ngIf="data.length === 0 ; else showInfo" class="content void"> 
    There is not registers to show, please create one.
</div>
<ng-template #showInfo>
    <div class="content animate__animated animate__fadeIn animate__faster">
        <div class="card" *ngFor="let post of data">
            <div class="headercard">
                <span class="alias">{{post.title | titlecase}}</span>
            </div>
            <div class="info">
                <span class="name">
                    {{post.userId}} - {{post.body}}
                </span>
            </div>
        </div>
    </div>
</ng-template>