
<div *ngIf="auditNotFound; else showInfo" class=" content void"> 
    There is not registers with the id: <strong>{{id}}</strong>
</div>
<ng-template #showInfo>
    <div class="content">
    <div class="card animate__animated animate__fadeIn animate__faster">
        <div class="container-tittle">
            <h2 class="tittle">Update Audit</h2>
        </div>
        <form (ngSubmit)="updateAudit()" [formGroup]="form" autocomplete="off">
        <div class="container-form"> 

            <div class="form-element" [ngClass]="{'form-element-err': invalidInput('method') }">
                <span class="form-text">Method</span>
                <select name="method" formControlName="method" >
                    <option *ngFor="let method of methodsSelect" [value]="method.value">{{method.method}}</option>
                </select>
            </div>
            <span class="text-err animate__animated animate__headShake" *ngIf="invalidInput('method')" >{{mnsgErrMethod}}</span>
            
            <div class="form-element" [ngClass]="{'form-element-err': invalidInput('url') }">
                <span class="form-text">Url</span>
                <select name="url" formControlName="url" >
                    <option *ngFor="let url of urlSelect" [value]="url.value">{{url.url}}</option>
                </select>
            </div>
            <span class="text-err animate__animated animate__headShake" *ngIf="invalidInput('url')" >{{mnsgErrUrl}}</span>
            
            <button class="button" type="submit">UPDATE</button>
        </div>
        </form>
    </div>
    </div>
</ng-template>
